//Footer
@use "./variables" as *;
@use "./mixin" as *;

.footer {
  position: relative;
  padding: 1rem;
  background-color: $primary-color-dark;
  color: $primary-color-light;
  &__title {
    color: $primary-color-light;
  }
  &__icons {
    @include flex(row, flex-start);
    gap: 2.5rem;
    padding: 0.75rem 0;
  }
  .address {
    &__heading {
      padding: 1rem 0;
      font-weight: bold;
    }
    &__mailto {
      padding: 1rem 0;
    }
  }
  &__logo {
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
  &__copyright {
    padding-bottom: 1.5rem;
  }
  //tablet footer style
  @include tablet {
    padding: 0 2.5rem;
    &-container {
      @include flex(row, flex-start, center);
      gap: 3rem;
    }
    &__icons {
      padding-top: 1rem;
    }
    &__icon {
      width: 2.2rem;
      height: 2.2rem;
    }
    &__addresses {
      @include flex(row);
      gap: 2rem;
    }
    .address__heading {
      padding-bottom: 1.5rem;
    }
    .address__mailto {
      padding: 1.5rem 0 2.5rem 0;
    }

    &__logo {
      position: absolute;
      top: 3rem;
      right: 3rem;
    }
  }
  //desktop
  @include desktop {
    &-container {
      padding: 0 2.5rem;
    }
    &__addresses {
      padding: 0 5rem;
      .address {
        margin-right: 3rem;
        &__heading {
          padding-bottom: 2rem;
          font-weight: bold;
        }
      }
    }
    &__logo {
      position: absolute;
      top: 3rem;
      right: 7rem;
    }
    &__copyright {
      padding-left: 5.2rem;
    }
  }
}
