//Gallery
@use "./variables" as *;
@use "./mixin" as *;
.gallery {
    background-color: $background-alternative-light;
    &__images {
      @include flex(column, center);
    }
    &__image {
      width: 100%;
      margin-bottom: 1rem;
      filter: grayscale(70%);
      transition: all 0.3s ease;
      &:hover{
        filter: grayscale(0);
        transform: translateY(-0.625rem);
      }
    }
    //tablet
    @include tablet {
      &__title{
        padding-left: 1rem; 
      }
      &__images {
        @include flex(row, space-around);
        flex-wrap: wrap;
      }
      &__image {
        width: 30%;
        padding-bottom: 1rem;
      }
    }
    //desktop
    @include desktop {
      &__title{
        padding-left: 2.5rem; 
      }
      padding: 0 3rem;
      &__images {
        padding: 0 1.5rem;
      }
    }
  }
  
  