@use "./typography" as *;
//Colors
$primary-color-dark: #323232;
$primary-color-light: #FFFFFF;
$secondary-color: #AFAFAF;
$background-alternative-light: #FAFAFA;
$button-hover-color: #000000;
$link-text: #E1E1E1;

//Breakpoints
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1280px;

//font-family
$primary-font:'NunitoSans';