@font-face {
  font-family: NunitoSans;
  src: url("../../assets/fonts/NunitoSans-Regular.woff") format("woff"), url("../../assets/fonts/NunitoSans-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: NunitoSans;
  src: url("../../assets/fonts/NunitoSans-Medium.woff") format("woff"), url("../../assets/fonts/NunitoSans-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: NunitoSans;
  src: url("../../assets/fonts/NunitoSans-Bold.woff") format("woff"), url("../../assets/fonts/NunitoSans-Bold.woff2") format("woff2");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "NunitoSans";
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #E1E1E1;
}

.header__logo {
  width: 7.5rem;
  height: 1.25rem;
  margin-bottom: 0.5rem;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;
    padding: 1.5rem 0 1rem 0;
  }
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
    padding: 3rem 0 2.25rem 0;
  }
}

@media screen and (max-width: 767px) {
  h2 {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 2rem;
    padding: 1.5rem 0 1rem 0;
  }
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
    font-weight: bold;
    line-height: 2.75rem;
    padding: 3rem 0 2.25rem 0;
  }
}

@media screen and (max-width: 767px) {
  h3 {
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.375rem;
    padding: 1.5rem 0 1rem 0;
  }
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    padding: 1.5rem 0 1rem 0;
  }
}

@media screen and (max-width: 767px) {
  p {
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
  }
}
@media screen and (min-width: 768px) {
  p {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}

.navbar {
  width: 100%;
}
.navbar__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}
.navbar__li {
  padding-top: 1.5rem;
  position: relative;
}
.navbar__a {
  text-align: center;
}
.navbar__underline {
  position: absolute;
  left: 0;
  bottom: -15px; /* Positioned at the bottom of the list item */
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
  display: none;
}
.navbar__underline--hidden {
  display: none;
}
.navbar__a:active {
  color: #FFFFFF;
  transform: scale(1.5);
}
.navbar__a:hover + .navbar__underline {
  display: block; /* Show underline on hover */
}
@media screen and (min-width: 768px) {
  .navbar {
    width: 35%;
  }
  .navbar__li {
    padding-bottom: 0.5rem;
  }
  .navbar__a {
    font-size: 1.25rem;
  }
}

.header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
}

.banner {
  padding: 1rem;
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-bio.jpg");
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.banner__title {
  color: #FFFFFF;
  margin: auto 0;
}
@media screen and (min-width: 768px) {
  .banner {
    height: 70vh;
  }
}

.main {
  padding: 1rem;
}
@media screen and (max-width: 767px) {
  .main__image {
    width: 100%;
  }
  .main__subtext {
    padding: 0.5rem;
  }
}
@media screen and (min-width: 768px) {
  .main__image-container {
    width: 85%;
    margin: 0 auto;
    padding-bottom: 1rem;
  }
  .main__image {
    width: 100%;
  }
  .main__text {
    padding: 1rem 0;
    font-weight: bold;
  }
}

.about {
  margin-bottom: 1rem;
}
@media screen and (max-width: 767px) {
  .about__description {
    padding-bottom: 1rem;
    font-weight: medium;
  }
}
@media screen and (min-width: 768px) {
  .about {
    margin: 0 5rem;
  }
  .about__descriptions {
    display: flex;
    gap: 1rem;
  }
}

.gallery {
  background-color: #FAFAFA;
}
@media screen and (max-width: 767px) {
  .gallery__images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
  .gallery__image {
    width: 100%;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 768px) {
  .gallery__images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
  }
  .gallery__image {
    width: 30%;
  }
}

.footer {
  position: relative;
  padding: 1rem;
  background-color: #323232;
  color: #FFFFFF;
}
.footer__title {
  color: #FFFFFF;
}
.footer__icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 2.5rem;
}
.footer .address__mailto {
  padding: 0.5rem 0;
}
.footer__logo {
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
  }
  .footer__icons {
    padding-top: 1rem;
  }
  .footer__icon {
    width: 2.2rem;
    height: 2.2rem;
  }
  .footer__addresses {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 2rem;
  }
  .footer .address__mailto {
    padding: 1.5rem 0 2.5rem 0;
  }
  .footer__logo {
    position: absolute;
    top: 3rem;
    right: 2rem;
  }
}/*# sourceMappingURL=bio.css.map */