
@use "./partials/variables" as *;
@use "./partials/typography";
@use "./partials/resets";
@use "./partials/mixin" as *;
@use "./partials/global" as *;
@use "./partials/navbar";
@use "./partials/banner";
@use "./partials/gallery";  
@use "./partials/comment";
@use "./partials/footer";

//Main Section
.main {
  padding: 1rem;
  &__image-container{
    width: 100%;
    margin: 0 auto;
  }
  &__image {
    width: 100%;
    max-height:250px;
  }
  &__subtext {
    font-weight: 600;
  }

  //tablet
  @include tablet {
    &__image-container {
      width: 80%;
      margin: 0 auto;
      padding-bottom: 1rem;
    }
    &__image {
      width: 100%;
      max-height: 400px;
    }
    &__text {
      padding: 1rem 0;
      font-weight: bold;
    }
  }
  @include desktop {
    &__title {
      padding-left: 5rem;
    }
    &__image-container {
      width: 75%;
    }
    &__image{
      max-height: 500px;
    }
    &__text {
      width: 75%;
      font-weight: 500;
    }
  }
}

//About Section
.about {
  &__description {
    padding-bottom: 1rem;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.4rem;
  }
  //tablet
  @include tablet {
    margin: 0 4.5rem; //allign the content with image
    &__title {
      padding-left: 2rem;
    }
    &__descriptions {
      display: flex;
      gap: 2rem;
      padding: 0 2rem;
    }
    &__description {
      line-height: 1.5rem;
    }
  }
  @include desktop {
    margin: 0 7rem;
    &__title {
      padding-left: 3.5rem;
    }
    &__descriptions {
      padding: 1rem 2.5rem;
      display: flex;
      gap: 3rem;
    }
    &__description {
      font-size: 1rem;
      line-height: 1.75rem;
      padding: 0 1rem;
    }
  }
}