@use "./partials/variables" as *;
@use "./partials/resets";
@use "./partials/mixin" as *;
@use "./partials/global" as *;
@use "./partials/typography";

.header {
  background-color: $primary-color;
  @include flex(column, center, center);
  padding: 1rem;

  //tablet
  @include tablet {
    @include flex(row, flex-start, center);
    gap: 1rem;
  }

  //navigation
  .navbar {
    width: 100%;
    &__ul {
      @include flex(row, space-around);
    }
    &__li {
      padding-top: 1.5rem;
    }
    &__a {
      text-align: center;
    }
    //tablet
    @include tablet {
      width: 35%;
      &__li {
        padding-bottom: 0.5rem;
      }
      &__a {
        font-size: 1.25rem;
      }
    }
  }
}

//Banner Image Style
.banner {
  padding: 1rem;
  background-image: linear-gradient(
      rgba(50, 50, 50, 0.5),
      rgba(50, 50, 50, 0.5)
    ),
    url("../assets/images/hero-bio.jpg");
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  @include flex(row, flex-start, center);
  &__title {
    color: $button-text;
    margin: auto 0;
  }
}

.main {
  padding: 1rem;
  @include mobile {
    &__image {
      width: 100%;
    }
    &__subtext {
      padding: 0.5rem;
    }
  }
  //tablet
  @include tablet {
    &__image-container {
      text-align: center;
    }
    &__image {
      width: 80%;
    }
  }
}

//About Section
.about {
  margin-bottom: 1rem;
  @include mobile {
    &__description {
      padding-bottom: 1rem;
      font-weight: medium;
    }
  }
  //tablet
  @include tablet {
    margin: 0 5rem; //allign the content with image
    &__descriptions {
      display: flex;
      gap: 1rem;
    }
  }
}

//Gallery
.gallery {
  background-color: $background-alternative-light;
  @include mobile {
    &__images {
      @include flex(column, center);
    }
    &__image {
      width: 100%;
      margin-bottom: 2rem;
    }
  }
  //tablet
  @include tablet {
    &__images {
      @include flex(row, space-around);
      flex-wrap: wrap;
    }
    &__image {
      width: 30%;
    }
  }
}

//Footer
.footer {
  position: relative;
  padding: 1rem;
  background-color: $primary-color;
  color: $button-text;
  &__title {
    color: $button-text;
  }
  &__social-icons {
    @include flex(row, flex-start);
    gap: 2.5rem;
  }
  .address {
    &__mailto {
      padding: 0.5rem 0;
    }
  }
  &__logo {
    padding: 1rem 0;
  }
  @include tablet {
    &-container {
      @include flex(row, flex-start, center);
      gap: 3rem;
    }
    &__icon {
      width: 2.2rem;
      height: 2.2rem;
    }
    &__addresses {
      @include flex(row);
      gap: 2rem;
    }
    .address__mailto{
        padding: 1.5rem 0 2.5rem 0;
    }
    
    &__logo {
      position: absolute;
      top: 3rem;
      right: 2rem;
    }
  }
}
