@font-face {
  font-family: NunitoSans;
  src: url("../../assets/fonts/NunitoSans-Regular.woff") format("woff"), url("../../assets/fonts/NunitoSans-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: NunitoSans;
  src: url("../../assets/fonts/NunitoSans-Medium.woff") format("woff"), url("../../assets/fonts/NunitoSans-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: NunitoSans;
  src: url("../../assets/fonts/NunitoSans-Bold.woff") format("woff"), url("../../assets/fonts/NunitoSans-Bold.woff2") format("woff2");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "NunitoSans";
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #E1E1E1;
}

.header__logo {
  width: 7.5rem;
  height: 1.25rem;
  margin-bottom: 0.5rem;
}

h1, h2 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
  padding: 1.5rem 0 1rem 0;
}

h3 {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
  padding: 1.5rem 0 1rem 0;
}

p {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}

.button {
  font-size: 0.625rem;
  font-weight: bold;
  line-height: 1.25rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  background-color: #323232;
  color: #FFFFFF;
}
.button:hover {
  background-color: #000000;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  h1 {
    font-size: 3.75rem;
    font-weight: bold;
    line-height: 4.25rem;
  }
  h2 {
    font-size: 2.25rem;
    font-weight: bold;
    line-height: 2.75rem;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
  }
  p {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
  .button {
    font-size: 0.75rem;
    font-weight: bold;
    line-height: 1.25rem;
    width: 9.375rem;
    padding: 0 2rem;
  }
}
.header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
}
.header .navbar {
  width: 100%;
}
.header .navbar__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}
.header .navbar__li {
  padding-top: 1.5rem;
}
.header .navbar__a {
  text-align: center;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .header .navbar {
    width: 35%;
  }
  .header .navbar__li {
    padding-bottom: 0.5rem;
  }
  .header .navbar__a {
    font-size: 1.25rem;
  }
}

.banner {
  padding: 1rem;
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-bio.jpg");
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.banner__title {
  color: #FFFFFF;
  font-size: 2rem;
  margin: auto 0;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .banner__title {
    font-size: 3.75rem;
  }
}

.main {
  padding: 1rem;
}
.main__title {
  font-size: 2rem;
}
.main__image {
  width: 100%;
}
.main__text {
  font-weight: bold;
}
.main__subtext {
  font-weight: bold;
  padding: 0.5rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .main__title {
    font-size: 2.625rem;
  }
  .main__image-container {
    text-align: center;
  }
  .main__image {
    width: 80%;
  }
  .main__text {
    font-size: 0.875rem;
    padding: 0 4rem;
  }
}

.about {
  margin-bottom: 1rem;
}
.about__title {
  font-weight: 600;
}
.about__description {
  padding-bottom: 1rem;
  font-weight: medium;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about {
    margin: 0 5rem;
  }
  .about__descriptions {
    display: flex;
    gap: 1rem;
  }
}

.gallery {
  background-color: #FAFAFA;
}
.gallery__title {
  font-size: 2rem;
}
.gallery__images {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}
.gallery__image {
  width: 100%;
  margin-bottom: 2rem;
}
@media screen and (min-width: 768px) and (max-width: 1279px) {
  .gallery__title {
    font-size: 2.625rem;
  }
  .gallery__images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
  }
  .gallery__image {
    width: 30%;
  }
}

.footer {
  padding: 1rem;
  background-color: #323232;
  color: #FFFFFF;
}
.footer__title {
  font-size: 2rem;
  color: #FFFFFF;
}
.footer__social-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 2.5rem;
}
.footer .address__heading {
  font-weight: 600;
}
.footer .address__mailto {
  padding: 0.5rem 0;
}
.footer__logo {
  padding: 1rem 0;
}
.footer__copyright {
  font-weight: 400;
}/*# sourceMappingURL=bio.css.map */