// @use "../styles/partials/variables" as *;
@use "./partials/variables" as *;
@use "../styles/partials/typography";
@use "../styles/partials/resets";
@use "../styles/partials/mixin" as *;
@use "../styles/partials/global" as *;
@use "../styles/partials/banner";
@use "../styles/partials/navbar";
@use "../styles/partials/footer";

//Show Card
.shows {
  padding: 1.5rem;
  &__title {
    font-size: 1.75rem;
  }
  &__container {
    .show__title--parent {
      display: none;
    }
  }
  @include tablet {
    &__container {
      .show__title--parent {
        position: relative;
        width: 70%;
        @include flex(row, space-between);
        gap: 5rem;
        padding-bottom: 2rem;
        color: $link-text;
       font-size: 1rem;
        font-weight: bold;

        .show__title-date, .show__title-venue,  .show__title-location {
          font-size: 1rem;
          color: $secondary-color;
          font-weight: bold;
        }
      }
    }
  }
  @include desktop {
    display: flex;
    &__title {
      width: 25%;
    }
    &__container {
      width: 75%;
      padding-top: 4rem; //to match it with heading Shows
    }
  }
}
.show {
  &__title {
    color: $secondary-color;
    font-size: 1rem;
    padding-bottom: 0.5rem;
  }
  &__detail {
    padding-bottom: 1rem;
    font-size: 1rem;
    &:nth-of-type(2) {
      font-weight: bold;
    }
  }
  &__divider {
    height: 1px;
    background-color: $link-text;
    margin: 1.5rem -1.5rem;
  }
  //tablet design
  @include tablet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__title {
      display: none;
    }
    &__divider {
      margin: 1.5rem 0;
    }
  }
}
