@font-face {
  font-family: NunitoSans;
  src: url("../../assets/fonts/NunitoSans-Regular.woff") format("woff"), url("../../assets/fonts/NunitoSans-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: NunitoSans;
  src: url("../../assets/fonts/NunitoSans-Medium.woff") format("woff"), url("../../assets/fonts/NunitoSans-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: NunitoSans;
  src: url("../../assets/fonts/NunitoSans-Bold.woff") format("woff"), url("../../assets/fonts/NunitoSans-Bold.woff2") format("woff2");
  font-weight: 700;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "NunitoSans";
  color: #323232;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #E1E1E1;
}

h1 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
  padding: 1.5rem 0 1rem 0;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
    padding: 3rem 0 2.25rem 0;
  }
}
@media screen and (min-width: 1280px) {
  h1 {
    padding: 3rem 0 2.25rem 1.5rem;
  }
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
  padding: 1.5rem 0 1rem 0;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
    line-height: 2.75rem;
    padding: 3rem 0 2.25rem 0;
  }
}
@media screen and (min-width: 1280px) {
  h2 {
    font-size: 2.5rem;
    padding: 3rem 0 2.25rem 2.5rem;
  }
}

h3 {
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.375rem;
  padding: 1.5rem 0 1rem 0;
}
@media screen and (min-width: 768px) {
  h3 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 2rem;
    padding: 1.5rem 0 1rem 0;
  }
}
@media screen and (min-width: 1280px) {
  h3 {
    font-size: 1.5rem;
  }
}

p {
  font-size: 0.8125rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  p {
    font-size: 0.875rem;
    line-height: 1.375rem;
  }
}
@media screen and (min-width: 1280px) {
  p {
    font-size: 0.875rem;
  }
}

.button {
  background: #323232;
  color: #FFFFFF;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  width: 100%;
  height: 2.5rem;
  border-radius: 0.25rem;
}
@media screen and (min-width: 768px) {
  .button {
    max-width: 9.375rem;
    padding: 0 2rem;
  }
}

.banner {
  padding: 1rem;
  width: 100%;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  color: #FFFFFF;
}
.banner__title {
  margin: auto 0;
}
@media screen and (min-width: 768px) {
  .banner {
    height: 70vh;
    padding-left: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .banner {
    height: 80vh;
  }
}

.banner--bio {
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-bio.jpg");
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.banner--shows {
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url("../assets/images/hero-shows.jpg");
}
.banner--shows__title {
  width: 70%;
}
.banner--shows__iframe {
  width: 100%;
  max-height: 25rem;
  border: none;
}

.header {
  background-color: #323232;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 3rem;
  }
}
.header__logo {
  width: 7.5rem;
  height: 1.25rem;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 768px) {
  .header__logo {
    margin: 1rem 0 0.25rem 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__logo {
    margin-left: 1rem;
  }
}

.navbar {
  width: 100%;
}
.navbar__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}
.navbar__li {
  padding-top: 1.5rem;
  width: 50%;
  text-align: center;
  position: relative;
}
.navbar__a {
  text-align: center;
}
.navbar__underline {
  position: absolute;
  left: 0;
  bottom: -15px; /* Positioned at the bottom of the list item */
  width: 100%;
  height: 2px;
  background-color: #FFFFFF;
}
.navbar__underline--hidden {
  display: none;
}
.navbar__a--active + .navbar__underline {
  color: #FFFFFF;
}
.navbar__a:hover + .navbar__underline {
  display: block; /* Show underline on hover */
}
@media screen and (min-width: 768px) {
  .navbar {
    width: 35%;
  }
  .navbar__li {
    padding-bottom: 0.5rem;
    width: auto;
  }
  .navbar__a {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .navbar {
    width: 30%;
  }
  .navbar__li {
    padding-bottom: 0.5rem;
    width: auto;
  }
}

.footer {
  position: relative;
  padding: 1rem;
  background-color: #323232;
  color: #FFFFFF;
}
.footer__title {
  color: #FFFFFF;
}
.footer__icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  gap: 2.5rem;
  padding: 0.75rem 0;
}
.footer .address__heading {
  padding: 1rem 0;
  font-weight: bold;
}
.footer .address__mailto {
  padding: 1rem 0;
}
.footer__logo {
  padding-top: 2rem;
  padding-bottom: 1rem;
}
.footer__copyright {
  padding-bottom: 1.5rem;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 0 2.5rem;
  }
  .footer__container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
  }
  .footer__icons {
    padding-top: 1rem;
  }
  .footer__icon {
    width: 2.2rem;
    height: 2.2rem;
  }
  .footer__addresses {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    gap: 2rem;
  }
  .footer .address__heading {
    padding-bottom: 1.5rem;
  }
  .footer .address__mailto {
    padding: 1.5rem 0 2.5rem 0;
  }
  .footer__logo {
    position: absolute;
    top: 3rem;
    right: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__container {
    padding: 0 2.5rem;
  }
  .footer__addresses {
    padding: 0 5rem;
  }
  .footer__addresses .address {
    margin-right: 3rem;
  }
  .footer__addresses .address__heading {
    padding-bottom: 2rem;
    font-weight: bold;
  }
  .footer__logo {
    position: absolute;
    top: 3rem;
    right: 7rem;
  }
  .footer__copyright {
    padding-left: 5.2rem;
  }
}

.shows {
  padding: 1.5rem;
}
.shows__title {
  font-size: 1.75rem;
}
.shows__container .show__title--parent {
  display: none;
}
@media screen and (min-width: 768px) {
  .shows__container .show__title--parent {
    position: relative;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 5rem;
    padding-bottom: 2rem;
    color: #E1E1E1;
    font-size: 1rem;
    font-weight: bold;
  }
  .shows__container .show__title--parent .show__title-date, .shows__container .show__title--parent .show__title-venue, .shows__container .show__title--parent .show__title-location {
    font-size: 1rem;
    color: #AFAFAF;
    font-weight: bold;
  }
}
@media screen and (min-width: 1280px) {
  .shows {
    display: flex;
  }
  .shows__title {
    width: 25%;
  }
  .shows__container {
    width: 75%;
    padding-top: 4rem;
  }
}

.show__title {
  color: #AFAFAF;
  font-size: 1rem;
  padding-bottom: 0.5rem;
}
.show__detail {
  padding-bottom: 1rem;
  font-size: 1rem;
}
.show__detail:nth-of-type(2) {
  font-weight: bold;
}
.show__divider {
  height: 1px;
  background-color: #E1E1E1;
  margin: 1.5rem -1.5rem;
}
@media screen and (min-width: 768px) {
  .show {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .show__title {
    display: none;
  }
  .show__divider {
    margin: 1.5rem 0;
  }
}/*# sourceMappingURL=shows.css.map */