// @use "../styles/partials/variables" as *;
@use "./partials/variables" as *;
@use "../styles/partials/typography";
@use "../styles/partials/resets";
@use "../styles/partials/mixin" as *;
@use "../styles/partials/global" as *;
@use "../styles/partials/banner";
@use "../styles/partials/navbar";
@use "../styles/partials/footer";


//Show Card 
.shows{
  padding: 1.5rem;
 & __title{
    font-size: 1.75rem;
  }
}
.show{
  &__title{
    color: $secondary-color;
    padding-bottom: 0.5rem;
  }
  &__detail{
    padding-bottom: 1rem;
  }
  &__divider{
    height: 1px;
    background-color: $link-text;
    margin: 1.5rem 0;
  }
}
.button{
  background: $primary-color-dark;
  color: $primary-color-light;
  @include flex(row, center, center);
  font-size: .75rem;
  width: 9.375rem;
  height: 2.5rem;
}
